# Django secret data
SECRET_KEY=
DEBUG=True

# Database secret data
DATABASE_NAME=atomic_habits
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=localhost
DATABASE_PORT=5432

# Redis location
REDIS_LOCATION=redis://localhost:6379/0

# Telegram token
TELEGRAM_TOKEN=
